body {
    margin: 0;
    padding: 0;
}

.Logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.photo_logo {
    width: 50px;
    clip-path: circle();
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-left: 150px;
    padding-right: 150px;
}

.left,
.right {
    display: flex;
    gap: 10px;
    align-items: center;
}

ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
    font-size: 18px;
    color: #E5E7EB;
  }

.section_one {
    background-color: #1f2937; 
    padding: 4em 150px 4em 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.intro {
    max-width: 500px;
}

.second_intro {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    padding-bottom: 10px;
}

.second_text {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 10px;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 3px 20px;
    font-weight: bold;
    font-size: 15px;
}

.intro_photo {
    width: 400px;
    height: auto;
}

.section_two {
    text-align: center;
    margin-bottom: 64px;
}

.title_two {
    margin: 32px;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937
}

.section_two_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4em;
}

.photo_section {
    width: 250px;
    height: auto;
}

.photo_section img {
    width: 100%;
    height: auto;
}

.section_three {
    padding: 64px;
    background-color: #E5E7EB;
    padding: 4em 150px 4em 150px;
    
}
.three {
    display: flex;
    justify-content: center;
    
}

.paragraph_block {
    max-width: 750px;
    font-size: 36px;
    font-weight: italic;
    color: #1f2937;
}

.signature {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 550px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.section_four {
    display: flex;
    justify-content: center;
    padding: 6em;
}

.center_ad {
    background-color: #3882F6;
    display: flex;
    padding: 50px 90px;
    border-radius: 15px;
}

.ad {
    color: #E5E7EB;
    font-size: 20px;
    padding-right: 6em;
}

.white_outline {
    border: 2px solid white;
    padding: 0px 35px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 45px;
    background-color: #1f2937;
    font-size: 18px;
    color: #F9FAF8;
}